<template>
  <g :class="styleClass">
    <slot v-bind="rect"></slot>
    <Handle
      v-for="handle, index in handles"
      v-model="coords"
      :type="handleType"
      :axis="handle.axes"
      :offset="handle.offset"
      :length="handleLength"
      @change="$emit('change', $event)"
    />
  </g>
</template>

<script>
 // find way to write changes back to rect in editable (write to store?, e.g. modify copy of list / map of all shapes, propagate it to parent via v-model / input event?)

 import Handle from '@/components/Handle.vue'

 export default {
   components: {
     Handle
   },
   props: {
     value: {
       type: Object,
       required: true
     },
     state: String
   },
   watch: {
     value: {
       deep: true,
       handler(newValue) {
	 const { x, y, width, height } = newValue

	 this.coords = {
	   x1: x,
	   x2: x + width,
	   y1: y,
	   y2: y + height
	 }
       }
     }
   },
   data() {
     const { x, y, width, height } = this.value
     return {
       coords: {
	 x1: x,
	 x2: x + width,
	 y1: y,
	 y2: y + height
       },
       axes: [
	 { x: 'x1', y: 'y1' },
	 { x: 'x2', y: 'y1' },
	 { x: 'x2', y: 'y2' },
	 { x: 'x1', y: 'y2' }
       ],
       // set to at least 48px
       handleLength: 0.0175,
       handleType: 'square'
     }
   },
   computed: {
     handles() {
       return this
	 .axes
	 .map(({ x, y }) => ({
	   offset: {
	     x: this.coords[x] === this.xMin ? -1 : 0,
	     y: this.coords[y] === this.yMin ? -1 : 0
	   },
	   axes: { x, y }
	 }))
     },
     xMin() {
       return Math.min(...['x1', 'x2'].map((key) => this.coords[key]))
     },
     yMin() {
       return Math.min(...['y1', 'y2'].map((key) => this.coords[key]))
     },
     rect() {
       const { x1, x2, y1, y2 } = this.coords
       return {
	 x: Math.min(x1, x2),
	 y: Math.min(y1, y2),
	 width: Math.abs(x2 - x1),
	 height: Math.abs(y2 - y1)
       }
     },
     styleClass() {
       return [
	 'rect',
	 'is-animated',
	 'is-interactive',
	 {
	   'is-selected': this.state === 'selected',
	   'is-editable': this.state === 'editable'
	 }
       ]
     }
   }
 }
</script>

<style>
 .rect {
   fill: rgba(0, 255, 127, .5);
   opacity: 0.75;
   pointer-events: auto;
 }

 .rect.is-selected {
   fill: rgba(255, 0, 127, 0.5)
 }

 .rect.is-editable {
   fill: rgb(127, 0, 255, 0.5);
 }

 .rect:hover {
   opacity: 1;
 }
</style>
