<template>
  <circle
    v-if="type === 'round'"
    :cx="x"
    :cy="y"
    :r="scaledLength"
    @mousedown.left.self.stop="handleStartResize"
    class="handle is-interactive is-animated"
  />
  <rect
    v-else-if="type === 'square'"
    :x="x"
    :y="y"
    :width="scaledLength"
    :height="scaledLength"
    @mousedown.left.self.stop="handleStartResize"
    class="handle is-interactive is-animated"
  />
</template>

<style>
 .handle {
   fill: rgba(255, 0, 127, 1);
   opacity: 0.675;
 }

 .handle:hover {
   opacity: 1;
 }
</style>

<script>
 import { once, on } from '@/utils'

 export default {
   inject: ['state', 'toViewportCoords', 'toViewportRect'],
   props: {
     axis: {
       type: Object,
       required: true
     },
     offset: {
       type: Object,
       default: () => ({ x: 0, y: 0 })
     },
     value: {
       type: Object,
       required: true
     },
     type: {
       type: String,
       default: 'round'
     },
     length: {
       type: Number,
       required: true
     }
   },
   data() {
     return {
       startValue: {
	 ...this.value
       }
     }
   },
   computed: {
     x() {
       return this.type === 'square'
       // ? this.value[this.axis.x] - this.scaledLength * this.offset.x
	    ? this.value[this.axis.x] - this.scaledLength * 0.5
	    : this.value[this.axis.x]
     },
     y() {
       return this.type === 'square'
       // ? this.value[this.axis.y] + this.scaledLength * this.offset.y
            ? this.value[this.axis.y] - 0.5 * this.scaledLength
	    : this.value[this.axis.y]
     },
     scaledLength() {
       return this.type === 'square'
	   ?  2 * this.length / this.zoomRatio
	    : this.length / this.zoomRatio
     },
     zoomRatio() {
       return this.state.zoom
     },
     openseadragon() {
       return this.state.openseadragon
     }
   },
   methods: {
     handleStartResize(event) {
       const removeResizeListener = on(
	 document,
	 'mousemove',
	 (event) => this.handleResize(event)
       )

       once(document, 'mouseup', (event) => {
	 removeResizeListener()
	 this.handleStopResize(event)
       })
     },
     handleResize(event) {
       const { x, y } = this.toViewportCoords({
	 x: event.clientX,
	 y: event.clientY
       })

       this.$emit('input', {
	 ...this.value,
	 [this.axis.x]: x, [this.axis.y]: y
       })
     },
     handleStopResize() {
       const changedValue = Object.assign({}, this.value)
       // NOTE: restore initial value, alternatively / better pass some sort of delta to editable, which is then reset by editable
       this.$emit('input', Object.assign({}, this.startValue))
       this.$emit('change', changedValue)
     }
   }
 }
</script>
