<template>
  <div class="container">
    <OpenSeadragon
      key="viewer"
      @open="handleOpen"
      ref="openseadragon"
      :options="options"
    />
    <div
      @wheel="handleWheel"
      @mouseup="handleMouseUp"
      :class="['overlay', { 'is-disabled': ignorePointerEvents }]"
      style="display: none"
    >      
      <div
	@wheel="handleWheel"
	@mousedown="handleMouseDown"
	@mouseup="handleMouseUp"
	class="test"
      ></div>
    </div>
    <Overlay
      :openseadragon="openseadragon"
      :shapes="shapes"
    />
  </div>
</template>

<style>
 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .container {
   position: relative;
   width: 720px;
   height: 480px;
 }

 .overlay {
   position: absolute;
   left: 0;
   top: 0;

   width: 100%;
   height: 100%;

   background-color: rgba(0, 0, 0, 0.5);
 }

 .overlay.is-disabled {
   pointer-events: none;
 }

 .test {
   width: 60px;
   height: 60px;
   background-color: rgba(255, 127, 0, 0.25);

   pointer-events: auto;
 }
 
</style>

<script>
 import OpenSeadragon from '@/components/OpenSeadragon.vue'
 import Overlay from '@/components/Overlay.vue'

 import { once } from '@/utils'

 export default {
   components: {
     OpenSeadragon,
     Overlay
   },
   data() {
     return {
       openseadragon: null,
       ignorePointerEvents: true,
       source: {
	 type: 'image',
	 url: './images/sample.jpg'
       },
       shapes: [
	 {
	   id: 1,
	   type: 'rect',
	   data: {
	     x: 0.25,
	     y: 0.25,
	     width: 0.25,
	     height: 0.125
	   }
	 },
	 {
	   id: 2,
	   type: 'rect',
	   data: {
	     x: 0,
	     y: 0,
	     width: 0.25,
	     height: 0.125
	   }
	 },
	 {
	   id: 3,
	   type: 'rect',
	   data: {
	     x: 0.75,
	     y: 0.5,
	     width: 0.25,
	     height: 0.125
	   }
	 }
       ]
     }
   },
   computed: {
     viewer() {
       return this.$refs.openseadragon.viewer
     },
     options() {
       return {
	 tileSources: this.source,
	 maxZoomLevel: 100,
	 minZoomLevel: -100,
	 showZoomControl: false,
	 showHomeControl: false,
	 showFullPageControl: false,
	 preserveImageSizeOnResize: true,
	 gestureSettingsMouse: {
	   clickToZoom: false
	 }
       }
     }
   },
   methods: {
     handleOpen(instance) {
       this.openseadragon = instance
     },
     handleWheel(event) {
       console.debug(event)
     },
     handleMouseDown(event) {
       console.debug('mouseup', event)
       this.ignorePointerEvents = false
       once(document, 'mouseup', this.handleMouseUp)
     },
     handleMouseUp(event) {
       console.debug('mouseup', event)
       this.ignorePointerEvents = true
     }
   }
 }
</script>
