<template>
  <g @mousedown.left.stop="handleStartMove">
    <slot v-bind="rect"></slot>
  </g>
</template>

<script>
 import { once, on } from '@/utils'

 export default {
   inject: ['toViewportCoords'],
   props: {
     value: {
       type: Object,
       required: true
     }
   },
   data() {
     return {
       delta: {
	 x: 0,
	 y: 0
       }
     }
   },
   computed: {
     rect() {
       const { x, y, width, height } = this.value
       return {
	 x: x + this.delta.x,
	 y: y + this.delta.y,
	 width,
	 height
       }
     }
   },
   methods: {
     handleStartMove(event) {
       this.delta = { x: 0, y: 0 }

       const { x, y } = this.toViewportCoords({
	 x: event.clientX,
	 y: event.clientY
       })

       this.start = { x, y }

       const removeMoveListener = on(
	 document,
	 'mousemove',
	 (event) => this.handleMove(event)
       )

       once(document, 'mouseup', (event) => {
	 removeMoveListener()
	 this.handleStopMove(event)
       })       
     },
     handleMove() {
       const { x, y } = this.toViewportCoords({
	 x: event.clientX,
	 y: event.clientY
       })

       this.delta = {
	 x: x - this.start.x,
	 y: y - this.start.y
       }
     },
     handleStopMove() {
       // TODO: is this the place the source for the update to store?
       const changedValue = Object.assign({}, this.rect)
       this.$emit('change', changedValue)
       this.delta = { x: 0, y: 0 }
     }
   }
 }
</script>
