<template>
  <div :id="id" class="openseadragon-container">
    <slot :id="id"></slot>
  </div>
</template>

<script>
 import OpenSeadragon from 'openseadragon'

 export default {
   props: {
     id: {
       type: String,
       default: 'openseadragon'
     },
     options: {
       type: Object,
       required: true
     }
   },
   created() {
     this.viewer = null
   },
   mounted() {
     this.$nextTick(() =>  {
       const { tileSources, ...options } = this.options
       this.viewer = new OpenSeadragon({
	 id: this.id,
	 ...options
       })
       this.viewer.open(tileSources)
       this.viewer.addOnceHandler('open', () => this.$emit('open', this.viewer))
     })
   }
 }
</script>

<style>
 .openseadragon-container {
   position: relative;
   width: 100%;
   height: 100%;
 }
</style>
