<template>
  <svg
    namespace="http://www.w3.org/2000/svg"
    :width="width"
    :height="height"
    :class="styleClass"
    @wheel="handleZoom"
    @mousedown="handleStartDrag"
  >
    <g ref="node" :transform="transform">
      <template v-for="shape, index in nonSelectedShapes">
	<Moveable
	  :value="shape.data"
	  @change="handleChange('move', shape.id, $event)"
	  v-if="shape.id === 2"
	>
	  <template #default="{ x, y, width, height }">
	    <Rectangle
	      :key="shape.id"
	      :id="shape.id"
	      :x="x"
	      :y="y"
	      :width="width"
	      :height="height"
	      state="moveable"
	    />	    
	  </template>
	</Moveable>
	<Moveable
	  :value="shape.data"
	  @change="handleChange('move', shape.id, $event)"
	  v-if="shape.id === 3"
	>
	  <template #default="newShapeData">
	    <Editable
	      :value="newShapeData"
	      @change="handleChange('resize', shape.id, $event)"
	    >
	      <template #default="{ x, y, width, height }">
		<Rectangle
		  :key="shape.id"
		  :id="shape.id"
		  :x="x"
		  :y="y"
		  :width="width"
		  :height="height"
		  state="moveable"
		/>
	      </template>
	    </Editable>
	  </template>
	</Moveable>
      </template>
      <template	v-for="shape, index in selectedShapes">
	<Editable
	  :value="shape.data"
	  v-if="shape.id === 1"
	  @change="handleChange('resize', shape.id, $event)"
	>
	  <template #default="{ x, y, width, height }">
	    <Rectangle
	      :key="shape.id"
	      :id="shape.id"
	      :x="x"
	      :y="y"
	      :width="width"
	      :height="height"
	      state="editable"
	    />
	  </template>
	</Editable>
      </template>
    </g>
  </svg>
</template>

<script>
 // TODO: enable panning, via mousedown, etc. see Moveable.vu
 // TODO: enable mousewheel zoom, maybe use library here?

 import Vue from 'vue'

 // NOTE: required for reactive provide / inject
 const state = Vue.observable({ zoom: 1 })

 import Editable from '@/components/Editable.vue'
 import Moveable from '@/components/Moveable.vue'
 import Rectangle from '@/components/Rectangle.vue'
 import Handle from '@/components/Handle.vue'

 import { once, on } from '@/utils'

 import { Point, Rect as OpenSeadragonRect } from 'openseadragon'

 let openseadragonInstance = null

 export default {
   components: {
     Editable,
     Moveable,
     Rectangle,
     Handle,
   },
   props: {
     openseadragon: {
       type: Object,
       default: null
     },
     shapes: {
       type: Array,
       default: () => []
     },
     selection: {
       type: Array,
       default: () => []
     }
   },
   provide() {
     return {
       state,
       toViewportCoords({ x, y }) {
 	 const p = openseadragonInstance
	   .viewport
	   .pointFromPixel(new Point(x, y))

 	 return { x: p.x, y: p.y }
       },
       toViewportRect({ x, y, width, height }) {
 	 const r = openseadragonInstance
	   .viewport
	   .viewerElementToViewportRectangle(
	     new OpenSeadragonRect(x, y, width, height)
	   )

 	 return { ...r }
       },
       toViewport(value) {
	 if (!openseadragonInstance) return 0

 	 const p = openseadragonInstance
	   .viewport
	   .viewerElementToViewportCoordinates(new Point(value, 0))

 	 return p.x
       }       
     }
   },
   watch: {
     zoom(value) {
       console.log('watch zoom', value)
     },
     openseadragon(instance) {
       if (instance !== null) {
	 openseadragonInstance = instance

	 this.$nextTick(() => {
	   instance.addHandler('update-viewport', this.resize.bind(this))
	 })
       }
     }
   },
   mounted() {
     this.resize()
   },
   data() {
     return {
       transform: '',
       width: null,
       height: null,
       state: {
	 zoom: 1
       },
       isInteractive: true
     }
   },
   computed: {
     selectedShapes() {
       return this.shapes.filter((shape) => this.selection.includes(shape.id))
     },
     nonSelectedShapes() {
       return this.shapes.filter((shape) => !this.selection.includes(shape.id))
     },
     isEditable() {
       if (this.selection.length !== 1) return false

       const id = this.selection[0]
       const shape = this.shapes.find((shape) => shape.id === id)
       return shape.type === 'rect'
     },
     styleClass() {
       return [
	 'openseadragon-svg-overlay',
	 {
	   'is-interactive': this.isInteractive
	 }
       ]
     }
   },
   methods: {
     handleZoom(event) {
       // as seen here: https://github.com/openseadragon/openseadragon/blob/9767c027bae36e91448bae6dba20476bee24bd70/src/viewer.js#L3138
       const point = this.openseadragon.viewport.pointFromPixel(
	 new Point(event.clientX, event.clientY), true
       )

       // as seen here: https://github.com/openseadragon/openseadragon/blob/ae4f5867149687440ab3aceac9178762c1bae47d/src/mousetracker.js#L1795
       const direction = Math.sign(-event.deltaY)
       const factor = Math.pow(this.openseadragon.zoomPerScroll, direction)

       this.openseadragon.viewport.zoomBy(factor, point)
       this.openseadragon.viewport.applyConstraints();
     },
     handleStartDrag(event) {
       this.delta = { x: 0, y: 0 }

       this.start = {
	 x: event.clientX,
	 y: event.clientY
       }

       const removeMoveListener = on(
	 document,
	 'mousemove',
	 (event) => this.handleDrag(event)
       )

       once(document, 'mouseup', (event) => {
	 removeMoveListener()
	 this.handleStopDrag(event)
       })
     },
     handleDrag() {
       const { x, y } = {
	 x: event.clientX,
	 y: event.clientY
       }

       this.delta = {
	 x: x - this.start.x,
	 y: y - this.start.y
       }

       this.openseadragon.viewport.panBy(
	 this.openseadragon.viewport.deltaPointsFromPixels(
	   new Point(this.delta.x, this.delta.y).negate()	   
	 ),
	 false
       )

       this.start = { x, y }
     },
     handleStopDrag() {
       // TODO: is this the place the source for the update to store?
       const changedValue = Object.assign({}, this.rect)
       this.$emit('change', changedValue)
       this.delta = { x: 0, y: 0 }
     },
     handleEvent(event) {
       console.debug(event)
     },
     handleChange(...args) {
       console.debug(...args)
     },
     test(event) {
       console.debug(event.type, event.target, event.currentTarget)
     },
     resize() {
       if (this.openseadragon === null) return

       // based on https://github.com/openseadragon/svg-overlay
       if (this.width !== this.openseadragon.container.clientWidth) {
         this.width = this.openseadragon.container.clientWidth;
       }

       if (this.height !== this.openseadragon.container.clientHeight) {
         this.height = this.openseadragon.container.clientHeight;
       }

       var p = this.openseadragon.viewport.pixelFromPoint(new Point(0, 0), true);
       var zoom = this.openseadragon.viewport.getZoom(true);
       var rotation = this.openseadragon.viewport.getRotation();

       var scale = this.openseadragon.viewport._containerInnerSize.x * zoom;

       this.transform = `translate(${p.x}, ${p.y}) scale(${scale}) rotate(${rotation})`
       Object.assign(state, { zoom })
     }
   }
 }
</script>

<style>
 .openseadragon-svg-overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

   pointer-events: none;
 }

 .is-interactive {
   pointer-events: painted;
 }

 .is-animated {
   transition: opacity 0.125s ease-out;
 }
</style>
