<template>
  <g :class="styleClass">
    <rect :x="x" :y="y" :width="width" :height="height" />
  </g>
</template>

<script>
 import Handle from '@/components/Handle.vue'
 
 export default {
   components: {
     Handle
   },
   props: {
     id: {
       type: [String, Number],
       required: true
     },
     x: {
       type: Number,
       required: true
     },
     y: {
       type: Number,
       required: true
     },
     width: {
       type: Number,
       required: true
     },
     height: {
       type: Number,
       required: true
     },
     state: String
   },
   computed: {
     styleClass() {
       return [
	 'rect',
	 'is-animated',
	 'is-interactive',
	 {
	   'is-selected': this.state === 'selected',
	   'is-editable': this.state === 'editable'
	 }
       ]
     }
   }
 }
</script>

<style>
 .rect {
   fill: rgba(0, 255, 127, .5);
   opacity: 0.75;
   pointer-events: auto;
 }

 .rect.is-selected {
   fill: rgba(255, 0, 127, 0.5)
 }

 .rect.is-editable {
   fill: rgb(127, 0, 255, 0.5);
 }

 .rect:hover {
   opacity: 1;
 }
</style>
